.form-container {
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

.form-title {
  color: #1976d2;
  font-size: 26px;
  margin-bottom: 15px;
  text-align: center;
}

form input,
form select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-size: 14px;
}

form input:focus,
form select:focus {
  border-color: #1976d2;
  outline: none;
}

.submit-button {
  background-color: #1976d2;
  color: white;
  padding: 12px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #145a9e;
}
