.edit-btn {
  background-color: #ffa000;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn {
  background-color: #d32f2f;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.filter-select {
  padding: 10px;
  margin: 15px 0;
  border-radius: 6px;
  font-size: 14px;
  border: 1px solid #aaa;
}

